*.class

# vim
.*.swp

# Eclipse
.classpath
.settings
.project

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target
*.log
*.log.*

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Helm packages
*.tgz

# updatecli workflow
alfresco-updatecli
*_merged.yaml

_site
