repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.5.0
    hooks:
      - id: helm-docs
  - repo: https://github.com/Alfresco/alfresco-build-tools
    rev: v1.1.5
    hooks:
      - id: travis-yml-lint
      - id: helm-deps
      - id: helm-lint
  - repo: https://github.com/Alfresco/acs-deployment
    rev: v5.1.0-M2
    hooks:
      - id: checkov-helm
