# This is a YAML-formatted file.  Declare variables to be passed into your templates.

repository:
  image:
    repository: quay.io/alfresco/alfresco-content-repository
    tag: "7.0.1-A6"

ooiService:
  image:
    repository: quay.io/alfresco/alfresco-ooi-service
    tag: "1.1.0"

transformrouter:
  image:
    repository: quay.io/alfresco/alfresco-transform-router
    tag: "1.4.0"

pdfrenderer:
  image:
    repository: alfresco/alfresco-pdf-renderer
    tag: "2.5.1"

imagemagick:
  image:
    repository: alfresco/alfresco-imagemagick
    tag: "2.5.1"

libreoffice:
  image:
    repository: alfresco/alfresco-libreoffice
    tag: "2.5.1"

tika:
  image:
    repository: alfresco/alfresco-tika
    tag: "2.5.1"

transformmisc:
  image:
    repository: alfresco/alfresco-transform-misc
    tag: "2.5.1"

aiTransformer:
  image:
    repository: quay.io/alfresco/alfresco-ai-docker-engine
    tag: "1.3.0"

filestore:
  image:
    repository: quay.io/alfresco/alfresco-shared-file-store
    tag: "0.14.1"

share:
  image:
    repository: quay.io/alfresco/alfresco-share
    tag: "7.0.1-A6"

alfresco-search:
  searchServicesImage:
    tag: "2.0.1.1"

alfresco-digital-workspace:
  image:
    repository: quay.io/alfresco/alfresco-digital-workspace
    tag: 2.2.0-adw
