# ACS 7.0.N values
repository:
  image:
    tag: 7.0.1.10
transformrouter:
  image:
    tag: 1.4.1
pdfrenderer:
  image:
    tag: 2.5.7
imagemagick:
  image:
    tag: 2.5.7
libreoffice:
  image:
    tag: 2.5.7
tika:
  image:
    tag: 2.5.7
transformmisc:
  image:
    tag: 2.5.7
aiTransformer:
  image:
    tag: 1.3.0
filestore:
  image:
    tag: 0.16.1
share:
  image:
    tag: 7.0.1.3
alfresco-search:
  searchServicesImage:
    tag: 2.0.2.2
alfresco-digital-workspace:
  image:
    tag: 2.6.1
postgresql:
  image:
    tag: 13.1.0
alfresco-sync-service:
  image:
    tag: 3.7.2
  postgresql:
    primary:
      image:
        tag: 13.1.0
ooiService:
  image:
    tag: 1.1.0.1
msTeams:
  enabled: false
alfresco-control-center:
  enabled: false
global:
  tracking:
    auth: none
