# This is a YAML-formatted file.  Declare variables to be passed into your templates.

repository:
  image:
    tag: 7.0.1

transformrouter:
  image:
    tag: 1.4.1

pdfrenderer:
  image:
    tag: 2.5.1

imagemagick:
  image:
    tag: 2.5.1

libreoffice:
  image:
    tag: 2.5.1

tika:
  image:
    tag: 2.5.1

transformmisc:
  image:
    tag: 2.5.1

aiTransformer:
  image:
    tag: 1.4.0

filestore:
  image:
    tag: 0.16.0

share:
  image:
    tag: 7.0.1

alfresco-search:
  searchServicesImage:
    tag: 2.0.2

alfresco-digital-workspace:
  image:
    tag: 2.5.0

postgresql:
  image:
    tag: 13.1.0

postgresql-syncservice:
  image:
    tag: 13.1.0

alfresco-sync-service:
  syncservice:
    image:
      tag: 3.4.0

global:
  tracking:
    auth: none
