# ACS 7.1.N values
repository:
  image:
    tag: 7.1.1.8
transformrouter:
  image:
    tag: 1.5.3
pdfrenderer:
  image:
    tag: 2.5.7
imagemagick:
  image:
    tag: 2.5.7
libreoffice:
  image:
    tag: 2.5.7
tika:
  image:
    tag: 2.5.7
transformmisc:
  image:
    tag: 2.5.7
aiTransformer:
  image:
    tag: 1.4.5
filestore:
  image:
    tag: 1.5.3
share:
  image:
    tag: 7.1.1.8
alfresco-search:
  searchServicesImage:
    tag: 2.0.2.2
alfresco-search-enterprise:
  liveIndexing:
    mediation:
      image:
        tag: 3.1.1
    content:
      image:
        tag: 3.1.1
    metadata:
      image:
        tag: 3.1.1
    path:
      image:
        tag: 3.1.1
  reindexing:
    image:
      tag: 3.1.1
postgresql:
  image:
    tag: 13.3.0
alfresco-digital-workspace:
  image:
    tag: 2.6.1
alfresco-sync-service:
  image:
    tag: 3.7.2
  postgresql:
    primary:
      image:
        tag: 13.3.0
msTeamsService:
  image:
    tag: 1.1.0
ooiService:
  image:
    tag: 1.1.1
alfresco-control-center:
  enabled: false
global:
  tracking:
    auth: none
