# This is a YAML-formatted file.  Declare variables to be passed into your templates.

repository:
  image:
    tag: 7.2.0.2

transformrouter:
  image:
    tag: 1.5.3

pdfrenderer:
  image:
    tag: 2.5.7

imagemagick:
  image:
    tag: 2.5.7

libreoffice:
  image:
    tag: 2.5.7

tika:
  image:
    tag: 2.5.7

transformmisc:
  image:
    tag: 2.5.7

aiTransformer:
  image:
    tag: 1.4.2

filestore:
  image:
    tag: 0.16.1

share:
  image:
    tag: 7.2.0.2

alfresco-search:
  searchServicesImage:
    tag: 2.0.3

alfresco-sync-service:
  syncservice:
    image:
      tag: 4.0.0-A1
