---
# ACS 7.2.N values
repository:
  image:
    tag: 7.2.1.10
transformrouter:
  image:
    tag: 2.0.0
pdfrenderer:
  image:
    tag: 2.5.7
imagemagick:
  image:
    tag: 2.5.7
libreoffice:
  image:
    tag: 2.5.7
tika:
  image:
    tag: 2.5.7
transformmisc:
  image:
    tag: 2.5.7
aiTransformer:
  image:
    tag: 1.4.2
filestore:
  image:
    tag: 0.16.1
share:
  image:
    tag: 7.2.1.10
alfresco-search:
  searchServicesImage:
    tag: 2.0.4
alfresco-search-enterprise:
  liveIndexing:
    mediation:
      image:
        tag: 3.1.1
    content:
      image:
        tag: 3.1.1
    metadata:
      image:
        tag: 3.1.1
    path:
      image:
        tag: 3.1.1
  reindexing:
    image:
      tag: 3.1.1
alfresco-digital-workspace:
  image:
    tag: 3.0.1
alfresco-admin-app:
  image:
    tag: 7.8.1
postgresql:
  image:
    tag: 13.3.0
alfresco-sync-service:
  image:
    tag: 3.8.0
  postgresql:
    primary:
      image:
        tag: 13.3.0
ooiService:
  image:
    tag: 1.1.3
msTeamsService:
  image:
    tag: 1.1.0
