# ACS 7.2.N values
repository:
  image:
    tag: 7.2.1.12
alfresco-ai-transformer:
  image:
    tag: 1.5.0
alfresco-transform-service:
  transformrouter:
    image:
      tag: 2.0.0
  pdfrenderer:
    image:
      tag: 2.5.7
  imagemagick:
    image:
      tag: 2.5.7
  libreoffice:
    image:
      tag: 2.5.7
  tika:
    image:
      tag: 2.5.7
  transformmisc:
    image:
      tag: 2.5.7
  filestore:
    image:
      tag: 2.0.2
share:
  image:
    tag: 7.2.1.12
alfresco-search:
  searchServicesImage:
    tag: 2.0.3.6
alfresco-search-enterprise:
  liveIndexing:
    mediation:
      image:
        tag: 3.1.1
    content:
      image:
        tag: 3.1.1
    metadata:
      image:
        tag: 3.1.1
    path:
      image:
        tag: 3.1.1
  reindexing:
    image:
      tag: 3.1.1
alfresco-digital-workspace:
  image:
    tag: 3.0.1
alfresco-control-center:
  image:
    tag: 7.9.0
postgresql:
  image:
    tag: 13.3.0
alfresco-sync-service:
  image:
    tag: 3.8.0
  postgresql:
    primary:
      image:
        tag: 13.3.0
alfresco-connector-ms365:
  image:
    tag: 1.1.3.1
alfresco-connector-msteams:
  image:
    tag: 1.1.0
