# This values file can be used to install ACS 7.3.x using the latest version of
# the chart
alfresco-repository:
  image:
    tag: 7.3.2.3
  configuration:
    search:
      flavor: solr6
activemq:
  image:
    tag: 5.17.7-jre17-rockylinux8
alfresco-ai-transformer:
  image:
    tag: 1.5.1
share:
  image:
    tag: 7.3.2.3
alfresco-transform-service:
  transformrouter:
    image:
      tag: 4.1.7
  pdfrenderer:
    image:
      tag: 5.1.7
  imagemagick:
    image:
      tag: 5.1.7
  libreoffice:
    image:
      tag: 5.1.7
  tika:
    image:
      tag: 5.1.7
  transformmisc:
    image:
      tag: 5.1.7
  filestore:
    image:
      tag: 4.1.7
alfresco-search:
  enabled: true
  searchServicesImage:
    tag: 2.0.15
  insightEngineImage:
    tag: 2.0.15
alfresco-search-enterprise:
  enabled: false
  liveIndexing:
    mediation:
      image:
        tag: 3.2.1
    content:
      image:
        tag: 3.2.1
    metadata:
      image:
        tag: 3.2.1
    path:
      image:
        tag: 3.2.1
  reindexing:
    image:
      tag: 3.2.1
elasticsearch:
  enabled: false
alfresco-digital-workspace:
  image:
    tag: 4.4.1
alfresco-control-center:
  image:
    tag: 7.9.0
postgresql:
  image:
    tag: 14.10.0
postgresql-sync:
  image:
    tag: 14.10.0
alfresco-sync-service:
  image:
    tag: 3.11.3
alfresco-connector-ms365:
  image:
    tag: 2.0.6
alfresco-connector-msteams:
  image:
    tag: 2.0.6
alfresco-audit-storage:
  enabled: false
dtas:
  config:
    assertions:
      acs:
        version: 7.3.2
        modules:
        - id: org_alfresco_device_sync_repo
          version: 3.11.3
          installed: true
        - id: org.alfresco.integrations.google.docs
          version: 3.4.2
          installed: true
        - id: alfresco-aos-module
          version: 1.5.0
          installed: true
