# This values file can be used to install ACS 7.4.x using the latest version of
# the chart
alfresco-repository:
  image:
    tag: 7.4.2.3
  configuration:
    search:
      flavor: solr6
activemq:
  image:
    repository: quay.io/alfresco/alfresco-activemq
    tag: 5.17.6-jre17-rockylinux8
alfresco-transform-service:
  transformrouter:
    image:
      tag: 4.1.5
  pdfrenderer:
    image:
      tag: 5.1.5
  imagemagick:
    image:
      tag: 5.1.5
  libreoffice:
    image:
      tag: 5.1.5
  tika:
    image:
      tag: 5.1.5
  transformmisc:
    image:
      tag: 5.1.5
  filestore:
    image:
      tag: 4.1.5
alfresco-ai-transformer:
  image:
    tag: 3.1.7
share:
  image:
    tag: 7.4.2.3
alfresco-search:
  enabled: true
  searchServicesImage:
    tag: 2.0.13
  insightEngineImage:
    tag: 2.0.13
alfresco-search-enterprise:
  enabled: false
  liveIndexing:
    mediation:
      image:
        tag: 3.3.3
    content:
      image:
        tag: 3.3.3
    metadata:
      image:
        tag: 3.3.3
    path:
      image:
        tag: 3.3.3
  reindexing:
    image:
      tag: 3.3.3
elasticsearch:
  enabled: false
alfresco-digital-workspace:
  image:
    tag: 4.4.1
alfresco-control-center:
  image:
    tag: 8.3.0
postgresql:
  image:
    tag: 14.10.0
postgresql-sync:
  image:
    tag: 14.10.0
alfresco-sync-service:
  image:
    tag: 3.11.3
alfresco-connector-ms365:
  image:
    tag: 2.0.4
alfresco-connector-msteams:
  image:
    tag: 2.0.4
elasticsearch-audit:
  enabled: false
kibana-audit:
  enabled: false
alfresco-audit-storage:
  enabled: false
dtas:
  config:
    assertions:
      acs:
        version: 7.4.2
        modules:
        - id: org.alfresco.integrations.google.docs
          version: 3.4.2
          installed: true
        - id: alfresco-aos-module
          version: 1.6.2
          installed: true
