# Note: The Helm chart from github.com is a limited trial of the Enterprise
# version of Alfresco Content Services which goes read-only after 2-days.
# Request an extended 30-day trial at
# https://www.alfresco.com/platform/content-services-ecm/trial/download
---
apiVersion: v2
name: alfresco-content-services
version: 5.4.0-SNAPSHOT
appVersion: 7.4.0-M3
description: A Helm chart for deploying Alfresco Content Services
keywords:
  - content
  - content services
  - alfresco
  - alfresco content services
home: https://www.alfresco.com
sources:
  - https://github.com/Alfresco/acs-deployment
dependencies:
  - name: alfresco-common
    version: 2.0.0
    repository: https://alfresco.github.io/alfresco-helm-charts/
  - name: postgresql
    version: 12.x.x
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: common
    alias: alfresco-admin-app
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.7.0
    condition: >-
      alfresco-admin-app.enabled
  - name: common
    alias: alfresco-digital-workspace
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.7.0
    condition: >-
      alfresco-digital-workspace.enabled
  - name: activemq
    version: 3.0.1
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: activemq.enabled
  - name: alfresco-search-service
    alias: alfresco-search
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 1.0.3
    condition: alfresco-search.enabled
  - name: alfresco-sync-service
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 4.0.5
    condition: alfresco-sync-service.enabled
  - name: alfresco-search-enterprise
    version: 1.0.0
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-search-enterprise.enabled
icon: https://avatars0.githubusercontent.com/u/391127?s=200&v=4
