# Note: The Helm chart from github.com is a limited trial of the Enterprise
# version of Alfresco Content Services which goes read-only after 2-days.
# Request an extended 30-day trial at
# https://www.alfresco.com/platform/content-services-ecm/trial/download
---
apiVersion: v2
name: alfresco-content-services
version: 5.4.0-M1
description: A Helm chart for deploying Alfresco Content Services
keywords:
  - content
  - content services
  - alfresco
  - alfresco content services
home: https://www.alfresco.com
sources:
  - https://github.com/Alfresco/acs-deployment
dependencies:
  - name: alfresco-common
    version: 0.2.0
    repository: https://kubernetes-charts.alfresco.com/stable
  - name: postgresql
    version: 10.16.2
    repository: >-
      https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami/
    condition: postgresql.enabled
  - name: postgresql
    version: 10.16.2
    repository: >-
      https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami/
    alias: postgresql-syncservice
    condition: >-
      alfresco-sync-service.syncservice.enabled,postgresql-syncservice.enabled
  - name: common
    alias: alfresco-admin-app
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.6.0
    condition: >-
      alfresco-admin-app.enabled
  - name: common
    alias: alfresco-digital-workspace
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    version: 7.6.0
    condition: >-
      alfresco-digital-workspace.enabled
  - name: activemq
    version: 2.1.0
    condition: activemq.enabled
  - name: alfresco-search
    version: 1.0.4
    condition: alfresco-search.enabled
  - name: alfresco-elasticsearch-connector
    version: 0.1.0
    condition: alfresco-elasticsearch-connector.enabled
  - name: alfresco-sync-service
    version: 3.0.9
  - name: elasticsearch
    alias: elasticsearch
    repository: https://helm.elastic.co
    version: 7.10.1
    condition: elasticsearch.enabled
icon: https://avatars0.githubusercontent.com/u/391127?s=200&v=4
