# Note: The Helm chart from github.com is a limited trial of the Enterprise
# version of Alfresco Content Services which goes read-only after 2-days.
# Request an extended 30-day trial at
# https://www.alfresco.com/platform/content-services-ecm/trial/download
apiVersion: v2
name: alfresco-content-services
version: 9.3.0
appVersion: 25.1.1
description: A Helm chart for deploying Alfresco Content Services
keywords:
  - content
  - content services
  - alfresco
  - alfresco content services
home: https://www.alfresco.com
sources:
  - https://github.com/Alfresco/acs-deployment
dependencies:
  - name: alfresco-common
    version: 4.0.0
    repository: https://alfresco.github.io/alfresco-helm-charts/
  - name: postgresql
    version: 12.8.5
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: postgresql
    version: 12.8.5
    repository: oci://registry-1.docker.io/bitnamicharts
    alias: postgresql-sync
    condition: postgresql-sync.enabled
  - name: alfresco-adf-app
    alias: alfresco-control-center
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 0.2.2
    condition: >-
      alfresco-control-center.enabled
  - name: alfresco-adf-app
    alias: alfresco-digital-workspace
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 0.2.2
    condition: >-
      alfresco-digital-workspace.enabled
  - name: alfresco-repository
    version: 0.9.4
    repository: https://alfresco.github.io/alfresco-helm-charts/
  - name: activemq
    version: 3.6.2
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: activemq.enabled
  - name: alfresco-transform-service
    version: 2.1.6
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-transform-service.enabled
  - name: alfresco-search-service
    alias: alfresco-search
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 5.0.3
    condition: alfresco-search.enabled
  - name: alfresco-sync-service
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 7.1.2
    condition: alfresco-sync-service.enabled
  - name: alfresco-search-enterprise
    version: 4.5.0
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-search-enterprise.enabled
  - name: alfresco-connector-msteams
    version: 2.0.1
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-connector-msteams.enabled
  - name: alfresco-share
    alias: share
    version: 1.3.1
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: share.enabled
  - name: alfresco-connector-ms365
    version: 3.0.1
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-connector-ms365.enabled
  - name: alfresco-ai-transformer
    version: 3.0.3
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-ai-transformer.enabled
  - name: elasticsearch
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 21.4.1
    condition: elasticsearch.enabled
  - name: alfresco-audit-storage
    version: 0.3.1
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-audit-storage.enabled
  - name: alfresco-connector-hxi
    alias: alfresco-knowledge-retrieval
    version: 0.1.4
    repository: https://alfresco.github.io/alfresco-helm-charts/
    condition: alfresco-knowledge-retrieval.enabled
icon: https://avatars0.githubusercontent.com/u/391127?s=200&v=4
