# This values file can be used to install the latest ACS Community version using
# the latest version of the chart
repository:
  edition: Community
  replicaCount: 1
  image:
    repository: alfresco/alfresco-content-repository-community
    tag: 7.4.1
  persistence:
    accessModes:
      - ReadWriteOnce
share:
  image:
    repository: alfresco/alfresco-share
    tag: 7.4.1
alfresco-search:
  searchServicesImage:
    repository: alfresco/alfresco-search-services
    tag: 2.0.8
email:
  server:
    enabled: false
  inbound:
    enabled: false
imap:
  server:
    enabled: false
# Disable Enterprise only features
alfresco-transform-service:
  enabled: true
  transformrouter:
    enabled: false
  pdfrenderer:
    replicaCount: 1
  imagemagick:
    replicaCount: 1
  libreoffice:
    replicaCount: 1
  tika:
    replicaCount: 1
  transformmisc:
    replicaCount: 1
  filestore:
    enabled: false
alfresco-search-enterprise:
  enabled: false
alfresco-digital-workspace:
  enabled: false
alfresco-sync-service:
  enabled: false
alfresco-ai-transformer:
  enabled: false
s3connector:
  enabled: false
alfresco-connector-ms365:
  enabled: false
alfresco-connector-msteams:
  enabled: false
