---
# ACS Community values
repository:
  edition: Community
  replicaCount: 1
  image:
    repository: alfresco/alfresco-content-repository-community
    tag: 7.4.0-M2
  persistence:
    accessModes:
      - ReadWriteOnce
pdfrenderer:
  replicaCount: 1
imagemagick:
  replicaCount: 1
libreoffice:
  replicaCount: 1
tika:
  replicaCount: 1
transformmisc:
  replicaCount: 1
share:
  replicaCount: 1
  image:
    repository: alfresco/alfresco-share
    tag: 7.4.0-M2
alfresco-search:
  searchServicesImage:
    repository: alfresco/alfresco-search-services
    tag: 2.0.6-A4
# Disable Enterprise only features
alfresco-digital-workspace:
  enabled: false
alfresco-sync-service:
  enabled: false
ai:
  enabled: false
s3connector:
  enabled: false
email:
  server:
    enabled: false
  inbound:
    enabled: false
imap:
  server:
    enabled: false
alfresco-admin-app:
  enabled: false
