# This values file can be used to install the latest ACS Community version using
# the latest version of the chart
alfresco-repository:
  autoscaling:
    enabled: false
  replicaCount: 1
  image:
    repository: alfresco/alfresco-content-repository-community
    tag: 25.1.0
  persistence:
    accessModes:
      - ReadWriteOnce
  configuration:
    search:
      flavor: solr6
activemq:
  image:
    repository: docker.io/alfresco/alfresco-activemq
    tag: 5.18.7-jre17-rockylinux8
alfresco-search-enterprise:
  enabled: false
elasticsearch:
  enabled: false
share:
  image:
    repository: alfresco/alfresco-share
    tag: 25.1.1
alfresco-search:
  enabled: true
  searchServicesImage:
    repository: alfresco/alfresco-search-services
    tag: 2.0.15
# Disable Enterprise only features
alfresco-transform-service:
  enabled: true
  transformrouter:
    enabled: false
  pdfrenderer:
    replicaCount: 1
    image:
      repository: alfresco/alfresco-pdf-renderer
  imagemagick:
    replicaCount: 1
    image:
      repository: alfresco/alfresco-imagemagick
  libreoffice:
    replicaCount: 1
    image:
      repository: alfresco/alfresco-libreoffice
  tika:
    replicaCount: 1
    image:
      repository: alfresco/alfresco-tika
  transformmisc:
    replicaCount: 1
    image:
      repository: alfresco/alfresco-transform-misc
  filestore:
    enabled: false
alfresco-digital-workspace:
  enabled: false
alfresco-sync-service:
  enabled: false
postgresql-sync:
  enabled: false
alfresco-ai-transformer:
  enabled: false
alfresco-connector-ms365:
  enabled: false
alfresco-connector-msteams:
  enabled: false
alfresco-audit-storage:
  enabled: false
