# Defines the properties required by the content repository
apiVersion: v1
kind: ConfigMap
metadata:
  # the name of the config map
  name: {{ template "content-services.shortname" . }}-repository-configmap
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    component: repository
data:
  # The JAVA_OPTS defined in the values.yaml file for the "repository" are set here using proper quotes
  {{- if .Values.repository.environment }}
  {{- range $key, $val := .Values.repository.environment }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
  {{- end }}
  RELEASE_NAME: {{ .Release.Name }}
  {{ $alfhost := (.Values.externalHost | default (printf "%s-repository" (include "content-services.shortname" .))) }}
  {{ $alfprotocol := (.Values.externalProtocol | default "http") }}
  {{ $alfport := (.Values.externalPort | default .Values.repository.service.externalPort) }}
  ALFRESCO_OPTS: " -Dalfresco.host={{ $alfhost }}
      -Dalfresco.protocol={{ $alfprotocol }}
      -Dalfresco.port={{ $alfport }}
      -Dshare.protocol={{ .Values.externalProtocol | default "http"}}
      -Dshare.host={{ .Values.externalHost | default (printf "%s-share" (include "content-services.shortname" .)) }}
      -Dshare.port={{ .Values.externalPort | default .Values.share.service.externalPort }}
      -Dalfresco_user_store.adminpassword={{ .Values.repository.adminPassword | default "209c6174da490caeb422f3fa5a7ae634" }}
      -Dcsrf.filter.origin={{ $alfprotocol }}://{{ $alfhost }}
      -Dcsrf.filter.referer={{ $alfprotocol }}://{{ $alfhost }}/.*
      -Dsolr.host={{ template "alfresco-search.host" . }}
      -Dsolr.port={{ template "alfresco-search.port" . }}
      -Dalfresco-pdf-renderer.url=http://{{ template "content-services.shortname" . }}-pdfrenderer
      -Dimg.url=http://{{ template "content-services.shortname" . }}-imagemagick
      -Djodconverter.url=http://{{ template "content-services.shortname" . }}-libreoffice
      -Dtika.url=http://{{ template "content-services.shortname" . }}-tika"
  {{- if .Values.s3connector.enabled }}
  S3_OPTS: " -Ds3.bucketName={{ .Values.s3connector.bucketName }}
      -Ds3.bucketLocation={{ .Values.s3connector.bucketLocation }}
      {{- if .Values.s3connector.flatRoot }}
      -Ds3.flatRoot={{ .Values.s3connector.flatRoot }}
      {{- end }} 
      {{- if .Values.s3connector.maxErrorRetries }}
      -Ds3.maxErrorRetries={{ .Values.s3connector.maxErrorRetries }}
      {{- end }} 
      {{- if .Values.s3connector.useTenantDomainInPath }}
      -Ds3.useTenantDomainInPath={{ .Values.s3connector.useTenantDomainInPath }}
      {{- end }} 
      {{- if .Values.s3connector.autoLowerCaseBucketName }}
      -Ds3.autoLowerCaseBucketName={{ .Values.s3connector.autoLowerCaseBucketName }}
      {{- end }}"
  {{- end }}
  CATALINA_OPTS: " $ALFRESCO_OPTS $S3_OPTS  
      -Ddb.driver={{ .Values.database.driver | default "org.postgresql.Driver" }}
      {{- if eq .Values.database.external false }}
      -Ddb.url=jdbc:postgresql://{{ printf "%s-%s" .Release.Name .Values.postgresql.nameOverride }}:{{ .Values.postgresql.service.port }}/{{ .Values.postgresql.postgresDatabase }}
      {{- else }}
      -Ddb.url={{ .Values.database.url }}
      {{- end }}
      -Ddb.username=$DATABASE_USERNAME
      -Ddb.password=$DATABASE_PASSWORD
      -Ds3.accessKey=$ACCESSKEY
      -Ds3.secretKey=$SECRETKEY
      -Ds3.encryption=$ENCRYPTION
      -Ds3.awsKmsKeyId=$KMSKEYID"