# Defines the properties required by the content repository
apiVersion: v1
kind: ConfigMap
metadata:
  # the name of the config map
  name: {{ template "content-services.fullname" . }}-repository-configmap
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
data:
  # The JAVA_OPTS defined in the values.yaml file for the "repository" are set here using proper quotes
  {{- if .Values.repository.environment }}
  {{- range $key, $val := .Values.repository.environment }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
  {{- end }}
  RELEASE_NAME: {{ .Release.Name }}
  {{ $alfhost := (.Values.externalHost | default (printf "%s-repository" (include "content-services.fullname" .))) }}
  {{ $alfprotocol := (.Values.externalProtocol | default "http") }}
  {{ $alfport := (.Values.externalPort | default .Values.repository.service.externalPort) }}
  CATALINA_OPTS: "-Dalfresco.host={{ $alfhost }}
      -Dalfresco.protocol={{ $alfprotocol }}
      -Dalfresco.port={{ $alfport }}
      -Dshare.protocol={{ .Values.externalProtocol | default "http"}}
      -Dshare.host={{ .Values.externalHost | default (printf "%s-share" (include "content-services.fullname" .)) }}
      -Dshare.port={{ .Values.externalPort | default .Values.share.service.externalPort }}
      -Dcsrf.filter.origin={{ $alfprotocol }}://{{ $alfhost }}:{{ $alfport }}/.*
      -Dcsrf.filter.referer={{ $alfprotocol }}://{{ $alfhost }}:{{ $alfport }}/.*
      -Ddb.driver={{ template "database.driver" . }}
      -Ddb.username={{ template "database.user" . }}
      -Ddb.password={{ template "database.password" . }}
      -Ddb.url=jdbc:{{ .Values.database.type }}://{{ template "database.hostname" . }}:{{ template "database.port" . }}/{{ .Values.postgresql.postgresDatabase }}
      -Dsolr.host={{ template "alfresco-search-services.host" . }}
      -Dsolr.port={{ template "alfresco-search-services.port" . }}
      -Dalfresco-pdf-renderer.url=http://{{ template "content-services.fullname" . }}-alfrescopdfrenderer
      -Dimg.url=http://{{ template "content-services.fullname" . }}-imagemagick
      -Djodconverter.url=http://{{ template "content-services.fullname" . }}-libreoffice"
