---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.infrastructure.configMapName }}
  labels:
    {{- include "alfresco-content-services.labels" . | nindent 4 }}
data:
  {{- $repoCtx := dict "Values" (index .Values "alfresco-repository") "Chart" .Chart "Release" .Release }}
  {{- $repo_svc_name := include "alfresco-repository.fullname" $repoCtx }}
  {{- $repo_svc_port := index .Values "alfresco-repository" "service" "port" | default 80 }}
  repo_svc_name: {{ $repo_svc_name }}
  repo_svc_port: {{ $repo_svc_port | quote }}
  REPOSITORY_URL: {{ printf "http://%s:%v/alfresco" $repo_svc_name $repo_svc_port }}
  {{- $db_url := include "alfresco-content-services.database.repo" $ }}
  {{ template "alfresco-repository.db.cm" (dict "url" $db_url "driver" .Values.database.driver) }}
  {{ template "alfresco-common.activemq.cm" (include "alfresco-content-services.mq.url" .) }}
  {{- $search_url := "" }}
  {{- $search_flavor := include "alfresco-content-services.search.flavor" . }}
  {{- if ne "noindex" $search_flavor }}
    {{- if .Values.global.search.url }}
      {{- $search_url = .Values.global.search.url }}
    {{- else if eq "solr6" $search_flavor }}
      {{- $searchCtx := dict "Values" (index .Values "alfresco-search") "Chart" .Chart "Release" .Release }}
      {{- $search_url = printf "http://%s-solr/solr" (include "alfresco-search-service.fullname" $searchCtx) }}
    {{- else if eq "elasticsearch" $search_flavor }}
      {{- with .Values.elasticsearch }}
      {{- if .enabled }}
        {{- $esProto := .protocol | default "http" }}
        {{- $esHost := printf "%s-%s" (.clusterName | default "elasticsearch") (.nodeGroup | default "master") }}
        {{- $esPort := .port | default 9200 }}
        {{- $search_url = coalesce $.Values.global.search.url (printf "%s://%s:%v" $esProto $esHost $esPort) }}
      {{- else }}
        {{- fail "Chart is configured to use Alfresco Search Enterprise but no index backend has been provided. Set one using either global.search.url or elasticsearch.enabled" }}
      {{- end }}
      {{- end }}
      {{- $search_comms := "" }}
      {{- if hasPrefix "https://" $search_url }}
        {{- $search_comms = "https" }}
      {{- else }}
        {{- $search_comms = "none" }}
      {{- end }}
      {{- $_ := set .Values.global.search "securecomms" $search_comms }}
    {{- end }}
    {{- printf "SEARCH_SECURECOMMS: %s" .Values.global.search.securecomms | nindent 2}}
    {{- printf "SEARCH_URL: %s" $search_url | nindent 2 }}
    {{- printf "SEARCH_HOST: %s" (include "alfresco-common.url.host" $search_url) | nindent 2 }}
    {{- printf "SEARCH_PORT: %s" (include "alfresco-common.url.port" $search_url | quote) | nindent 2 }}
    {{- if eq "solr6" $search_flavor }}
      {{- printf "SOLR_BASE_URL: %s" (include "alfresco-common.url.path" $search_url | default "/solr") | nindent 2 }}
    {{- end }}
  {{- end }}
  SEARCH_FLAVOR: {{ template "alfresco-content-services.search.flavor" . }}
  {{- with (index .Values "alfresco-transform-service") }}
  {{- $atsCtx := dict "Values" . "Chart" $.Chart "Release" $.Release }}
  {{- if and .enabled .filestore.enabled .transformrouter.enabled }}
  SFS_URL: {{ template "alfresco-common.sfs.fullurl" (printf "http://%s" (include "alfresco-transform-service.filestore.name" $atsCtx)) }}
    {{- $ats_baseurl := (printf "http://%s" (include "alfresco-transform-service.transform-router.name" $atsCtx)) }}
    {{- if index $.Values "alfresco-search-enterprise" "enabled" }}
      {{- include "alfresco-search-enterprise.ats.fullurl" $ats_baseurl | nindent 2 }}
    {{- end }}
  {{- else if index $.Values "alfresco-search-enterprise" "enabled" }}
      {{- fail "Alfresco Search Enterprise has been enabled but Transformation service is not available" }}
  {{- else if index $.Values "alfresco-ai-transformer" "enabled" }}
      {{- fail "Alfresco Intelligence service has been enabled but Transformation service is not available" }}
  {{- end }}
  {{- end }}
