{{- if .Values.global.ai.enabled }}
# Defines the deployment for the ai transformer app
# Details: https://github.com/Alfresco/alfresco-ai-transformers/tree/master/alfresco-ai-docker-engine
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "content-services.shortname" . }}-ai-transformer
  labels:
    {{- include "ai-transformer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.aiTransformer.replicaCount }}
  selector:
    matchLabels:
      {{- include "ai-transformer.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
{{ toYaml .Values.global.strategy.rollingUpdate | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config-ai-transformer.yaml") . | sha256sum }}
      labels:
        {{- include "ai-transformer.selectorLabels" . | nindent 8 }}
    spec:
    {{- include "component-pod-security-context" .Values.aiTransformer | indent 4 }}
    {{- if .Values.aiTransformer.nodeSelector }}
      nodeSelector: {{- .Values.aiTransformer.nodeSelector | toYaml | nindent 8 }}
    {{- end }}
      {{- include "alfresco-content-services.imagePullSecrets" . | indent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 10
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app
                    operator: In
                    values:
                    - {{ template "content-services.shortname" . }}-ai-transformer
                topologyKey: failure-domain.beta.kubernetes.io/zone
            - weight: 5
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app
                    operator: In
                    values:
                    - {{ template "content-services.shortname" . }}-ai-transformer
                topologyKey: kubernetes.io/hostname
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.aiTransformer.image.repository }}:{{ .Values.aiTransformer.image.tag }}"
          imagePullPolicy: {{ .Values.aiTransformer.image.pullPolicy }}
          {{- include "component-security-context" .Values.aiTransformer | indent 8 }}
          envFrom:
          - configMapRef:
              # config map to use, defined in config-ai-transformer.yaml
              name: {{ template "content-services.shortname" . }}-ai-transformer-configmap
          - secretRef:
              name: {{ default (printf "%s-brokersecret" (include "content-services.shortname" .)) .Values.messageBroker.existingSecretName }}
          env:
            {{- include "activemq.env" . | nindent 12 }}
          ports:
              - containerPort: {{ .Values.aiTransformer.image.internalPort }}
          resources:
{{ toYaml .Values.aiTransformer.resources | indent 12 }}
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.aiTransformer.image.internalPort }}
            initialDelaySeconds: {{ .Values.aiTransformer.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.aiTransformer.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.aiTransformer.readinessProbe.timeoutSeconds }}
          livenessProbe:
            httpGet:
              path: /live
              port: {{ .Values.aiTransformer.image.internalPort }}
            initialDelaySeconds: {{ .Values.aiTransformer.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.aiTransformer.livenessProbe.periodSeconds }}
            failureThreshold: 1
            timeoutSeconds: {{ .Values.aiTransformer.livenessProbe.timeoutSeconds }}
{{- end }}
