# Defines the deployment for the shared file store
# Details: https://git.alfresco.com/Repository/alfresco-shared file store
{{- if eq .Values.repository.edition "Enterprise" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "alfresco.shortname" . }}-filestore
  labels:
    {{- include "filestore.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.filestore.replicaCount }}
  selector:
    matchLabels:
      {{- include "filestore.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
{{ toYaml .Values.global.strategy.rollingUpdate | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config-filestore.yaml") . | sha256sum }}
      labels:
        {{- include "filestore.selectorLabels" . | nindent 8 }}
    spec:
    {{- if .Values.filestore.nodeSelector }}
      nodeSelector: {{- .Values.filestore.nodeSelector | toYaml | nindent 8 }}
    {{- end }}
      {{- include "alfresco-content-services.imagePullSecrets" . | indent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "alfresco.shortname" . }}-filestore
              topologyKey: failure-domain.beta.kubernetes.io/zone
          - weight: 5
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "alfresco.shortname" . }}-filestore
              topologyKey: kubernetes.io/hostname
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.filestore.image.repository }}:{{ .Values.filestore.image.tag }}"
          imagePullPolicy: {{ .Values.filestore.image.pullPolicy }}
          envFrom:
          - configMapRef:
              # config map to use, defined in config-filestore.yaml
              name: {{ template "alfresco.shortname" . }}-filestore-configmap
          ports:
            - containerPort: {{ .Values.filestore.image.internalPort }}
          resources:
{{ toYaml .Values.filestore.resources | indent 12 }}
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.filestore.image.internalPort }}
            initialDelaySeconds: {{ .Values.filestore.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.filestore.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.filestore.readinessProbe.timeoutSeconds }}
          livenessProbe:
            httpGet:
              path: /live
              port: {{ .Values.filestore.image.internalPort }}
            initialDelaySeconds: {{ .Values.filestore.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.filestore.livenessProbe.periodSeconds }}
            failureThreshold: 1
            timeoutSeconds: {{ .Values.filestore.livenessProbe.timeoutSeconds }}
          volumeMounts:
          - name: data
            mountPath: {{ .Values.persistence.filestore.data.mountPath }}
            subPath: {{ .Values.persistence.filestore.data.subPath }}
      {{- if and .Values.persistence.filestore.enabled .Values.persistence.chownWithDynamicProvisioning }}
      initContainers:
        - name: init-fs
          image: "{{ .Values.filestore.initContainer.image.repository }}:{{ .Values.filestore.initContainer.image.tag }}"
          imagePullPolicy: {{ .Values.filestore.initContainer.image.pullPolicy }}
          resources:
{{ toYaml .Values.filestore.initContainer.resources | indent 14 }}
          # command to allow sfs to write to EFS volume.
          command: ["sh", "-c", "chown -R 33030:1000 {{ .Values.persistence.filestore.data.mountPath }}"]
          volumeMounts:
            - name: data
              mountPath: {{ .Values.persistence.filestore.data.mountPath }}
              subPath: {{ .Values.persistence.filestore.data.subPath }}
      {{- end }}
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.existingClaim }}
{{- end }}
