{{- $serviceName :=  printf "%s-%s" (include "content-services.shortname" .) "repository" -}}
{{- $servicePort := .Values.repository.service.externalPort -}}
apiVersion: {{ template "common.capabilities.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ template "content-services.shortname" . }}-repository
  labels:
    {{- include "repository.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "alf_affinity_route"
    nginx.ingress.kubernetes.io/session-cookie-hash: "sha1"
    # Default file limit (1m) check, document(s) above this size will throw 413 (Request Entity Too Large) error
    nginx.ingress.kubernetes.io/proxy-body-size: {{ .Values.repository.ingress.maxUploadSize }}
    {{- if index .Values "alfresco-search" "enabled" }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      location ~ ^(/.*/service/api/solr/.*)$ {return 403;}
      location ~ ^(/.*/s/api/solr/.*)$ {return 403;}
      location ~ ^(/.*/wcservice/api/solr/.*)$ {return 403;}
      location ~ ^(/.*/wcs/api/solr/.*)$ {return 403;}
      location ~ ^(/.*/s/prometheus)$ {return 403;}
    {{- else }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      location ~ ^(/.*/s/prometheus)$ {return 403;}
    {{- end }}
{{- if .Values.repository.ingress.annotations }}
{{ toYaml .Values.repository.ingress.annotations | indent 4 }}
{{- end }}

spec:
  {{- if .Values.repository.ingress.tls }}
  tls:
    {{- range .Values.repository.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  {{- if .Values.repository.ingress.hostName }}
  - host: {{ tpl .Values.repository.ingress.hostName . }}
    http:
  {{- else }}
  - http:
  {{- end }}
      paths:
      - path: {{ .Values.repository.ingress.path }}
        {{- if eq "true" (include "common.ingress.supportsPathType" .) }}
        pathType: Prefix
        {{- end }}
        backend: {{- include "common.ingress.backend" (dict "serviceName" $serviceName "servicePort" $servicePort "context" $) | nindent 10 }}
      - path: {{ .Values.apiexplorer.ingress.path }}
        {{- if eq "true" (include "common.ingress.supportsPathType" .) }}
        pathType: Prefix
        {{- end }}
        backend: {{- include "common.ingress.backend" (dict "serviceName" $serviceName "servicePort" $servicePort "context" $) | nindent 10 }}
