apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: search-allow-ingress
spec:
  podSelector:
    matchLabels:
      app: {{ template "alfresco-search.host" . }}
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: nginx-ingress
      ports:
        - protocol: TCP
          port: 8983
