{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-allow-all
spec:
  podSelector:
    matchLabels:
      app: nginx-ingress
  ingress:
    - {}
{{- end }}
