apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: repository-allow-share
spec:
  podSelector:
    matchLabels:
      app: {{ template "content-services.fullname" . }}-repository
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: {{ template "content-services.fullname" . }}-share
      ports:
        - protocol: TCP
          port: 8080
