{{- if .Values.networkpolicysetting.enabled }}
# Allow communication between database & repository
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: database
spec:
  podSelector:
    matchLabels:
      app: {{ template "database.hostname" . }}
  policyTypes:
  - Ingress
  - Egress
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: {{ template "content-services.fullname" . }}-repository
      ports:
        - protocol: TCP
          port: {{ template "database.port" . }}
  egress:
    # Allow DB to communicate back with repo
    - to:
      - podSelector:
          matchLabels:
             app: {{ template "content-services.fullname" . }}-repository

    # Allow DB to communicate with EFS
    - to:
      - ipBlock:
          cidr: 0.0.0.0/0
    ports:
    - protocol: TCP
      port: 2049
{{- end }}
