{{- if not .Values.global.search.existingSecretName }}
{{- $search_flavor := (include "alfresco-content-services.search.flavor" .) }}
{{- if ne "noindex" $search_flavor }}
{{- with .Values.global.search }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .secretName }}
  labels:
    {{- include "alfresco-content-services.labels" $ | nindent 4 }}
type: Opaque
data:
{{- if eq "solr6" $search_flavor }}
  SOLR_SECRET: {{ .sharedSecret | default "" | b64enc | quote }}
{{- else if eq "elasticsearch" $search_flavor }}
  SEARCH_USERNAME: {{ .username | default "elastic" | b64enc | quote }}
  SEARCH_PASSWORD: {{ .password | default "elasticpassword" | b64enc | quote }}
  # Required by bitnami elasticsearch
  elasticsearch-password: {{ .password | default "elasticpassword" | b64enc | quote }}
  kibana-password: {{ .password | default "elasticpassword" | b64enc | quote }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
