{{- if not .Values.database.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "content-services.shortname" . }}-dbsecret
  labels:
    {{- include "repository.labels" . | nindent 4 }}
type: Opaque
data:
  DATABASE_USERNAME: {{ .Values.database.user | default .Values.postgresql.postgresqlUsername | b64enc | quote }}
  DATABASE_PASSWORD: {{ .Values.database.password | default .Values.postgresql.postgresqlPassword | b64enc | quote }}
{{- end }}
