{{- $search_flavor := (include "alfresco-content-services.search.flavor" .) }}
{{- if ne "noindex" $search_flavor }}
{{- with .Values.global.search }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .secretName }}
  labels:
    {{- include "alfresco-content-services.labels" $ | nindent 4 }}
type: Opaque
data:
  SOLR_SECRET: {{ .sharedSecret | default "" | b64enc | quote }}
{{- if eq "elasticsearch" (include "alfresco-content-services.search.flavor" $) }}
  SEARCH_USERNAME: {{ .username | default "" | b64enc | quote }}
  SEARCH_PASSWORD: {{ .password | default "" | b64enc | quote }}
{{- end }}
{{- end }}
{{- end }}
