{{- if not .Values.global.auditIndex.existingSecretName }}
{{- with .Values.global.auditIndex }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .secretName }}
  labels:
    {{- include "alfresco-content-services.labels" $ | nindent 4 }}
type: Opaque
data:
  AUDIT_ELASTICSEARCH_USERNAME: {{ .username | default "" | b64enc | quote }}
  AUDIT_ELASTICSEARCH_PASSWORD: {{ .password | default "" | b64enc | quote }}
{{- end }}
{{- end }}
