{{- if .Values.transformmisc.enabled }}
# Defines the service for the transform-misc transformer app
apiVersion: v1
kind: Service
metadata:
  name: {{ template "content-services.shortname" . }}-transform-misc
  labels:
    {{- include "transform-misc.labels" . | nindent 4 }}
spec:
  type: {{ .Values.transformmisc.service.type }}
  ports:
    - port: {{ .Values.transformmisc.service.externalPort }}
      targetPort: {{ .Values.transformmisc.image.internalPort }}
      name: {{ .Values.transformmisc.service.name }}
  selector:
    {{- include "transform-misc.selectorLabels" . | nindent 4 }}
{{- end }}
