# This docker-compose file will spin up an ACS cluster on a local host or on a server and it requires a minimum of 16GB Memory to distribute among containers.
# Limit container memory and assign X percentage to JVM.  There are couple of ways to allocate JVM Memory for ACS Containers
# For example: 'JAVA_OPTS: "$JAVA_OPTS -XX:+PrintFlagsFinal -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap"'
# But, as per Oracle docs (https://docs.oracle.com/javase/9/gctuning/parallel-collector1.htm#JSGCT-GUID-CAB83393-3438-44ED-98F0-D15641B43C7D)
# If container memory is not explicitly set, then the above flags will default max heap to 1/4th of container's memory which may not be ideal. 
# Hence, setting up explicit Container memory and then assigning a percentage of it to the JVM for performance tuning.

# Using version 2 as 3 does not support resource constraint options (cpu_*, mem_* limits) for non swarm mode in Compose  
version: "2"

services:
    alfresco:
        image: alfresco/alfresco-content-repository:6.0.0-RC5
        mem_limit: 1500m 
        environment:
            JAVA_OPTS: "
                -Ddb.driver=org.postgresql.Driver
                -Ddb.username=alfresco
                -Ddb.password=alfresco
                -Ddb.url=jdbc:postgresql://postgres:5432/alfresco
                -Dsolr.host=solr6
                -Dsolr.port=8983
                -Dsolr.secureComms=none
                -Dsolr.base.url=/solr
                -Dindex.subsystem.name=solr6
                -Dalfresco-pdf-renderer.url=http://alfresco-pdf-renderer:8090/
                -Djodconverter.url=http://libreoffice:8090/
                -Dimg.url=http://imagemagick:8090/
                -Ddeployment.method=DOCKER_COMPOSE
                -Xms1g -Xmx1g
                "
        ports:
            - 8082:8080 #Browser port

    alfresco-pdf-renderer:
        image: alfresco/alfresco-pdf-renderer:0.10
        mem_limit: 1g
        environment:
            JAVA_OPTS: "$JAVA_OPTS -Xms256m -Xmx256m"
        ports:
            - 8090:8090

    imagemagick:
        image: alfresco/alfresco-imagemagick:0.10
        mem_limit: 1g
        environment:
            JAVA_OPTS: "$JAVA_OPTS -Xms256m -Xmx256m"
        ports:
            - 8091:8090

    libreoffice:
        image: alfresco/alfresco-libreoffice:0.10
        mem_limit: 1g
        environment:
            JAVA_OPTS: "$JAVA_OPTS -Xms256m -Xmx256m"
        ports:
            - 8092:8090

    share:
        image: alfresco/alfresco-share:6.0.0-rc1
        mem_limit: 1g
        environment:
            - REPO_HOST=alfresco
            - REPO_PORT=8080
            - "JAVA_OPTS=$JAVA_OPTS -Xms500m -Xmx500m"
        ports:
            - 8080:8080

    postgres:
        image: postgres:10.1
        mem_limit: 1500m
        environment:
            - POSTGRES_PASSWORD=alfresco
            - POSTGRES_USER=alfresco
            - POSTGRES_DB=alfresco
        command: postgres -c max_connections=300 -c log_min_messages=LOG
        ports:
            - 5432:5432

    solr6:
        image: alfresco/alfresco-search-services:1.1.1
        mem_limit: 2500m
        environment:
            #Solr needs to know how to register itself with Alfresco
            - SOLR_ALFRESCO_HOST=alfresco
            - SOLR_ALFRESCO_PORT=8080
            #Alfresco needs to know how to call solr
            - SOLR_SOLR_HOST=solr6
            - SOLR_SOLR_PORT=8983
            #Create the default alfresco and archive cores
            - SOLR_CREATE_ALFRESCO_DEFAULTS=alfresco,archive
            - "JAVA_OPTS=$JAVA_OPTS -Xms2g -Xmx2g"
        ports:
            - 8083:8983 #Browser port
