# Defines the deployment for the Alfresco Search (Solr) App
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "alfresco-search.fullName" . }}-solr
  labels:
    app: {{ template "alfresco-search.fullName" . }}-solr
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: search
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ template "alfresco-search.fullName" . }}-solr
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
      labels:
        app: {{ template "alfresco-search.fullName" . }}-solr
        release: {{ .Release.Name }}
    spec:
    {{- include "component-pod-security-context" .Values | indent 4 }}
    {{- with .Values.affinity }}
      affinity:
{{ tpl . $ | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
      nodeSelector: {{- .Values.nodeSelector | toYaml | nindent 8 }}
    {{- end }}
      {{- include "alfresco-content-services.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "alfresco-search.dockerImage" . }}
          imagePullPolicy: {{ template "alfresco-search.pullPolicy" . }}
          {{- include "component-security-context" .Values | indent 8 }}
          envFrom:
          - configMapRef:
              name: {{ template "alfresco-search.fullName" . }}-solr-configmap
          {{- if and (eq .Values.global.tracking.auth "secret") (.Values.global.tracking.sharedsecret) }}
          - secretRef:
              name: {{ printf "%s-solr-jtoolopts" .Release.Name | quote }}
          {{- end }}
          ports:
            - containerPort: {{ template "alfresco-search.internalPort" . }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          volumeMounts:
          - name: data
            mountPath: {{ .Values.persistence.search.data.mountPath }}
            subPath: {{ .Values.persistence.search.data.subPath }}
          readinessProbe:
            httpGet:
              path: /solr/alfresco/admin/ping
              port: {{ template "alfresco-search.internalPort" . }}
              {{- if eq .Values.global.tracking.auth "secret" }}
              httpHeaders:
              - name: X-Alfresco-Search-Secret
                value: "{{ .Values.global.tracking.sharedsecret }}"
              {{- end }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          livenessProbe:
            httpGet:
              path: /solr/admin/info/system
              port: {{ template "alfresco-search.internalPort" . }}
              {{- if eq .Values.global.tracking.auth "secret" }}
              httpHeaders:
              - name: X-Alfresco-Search-Secret
                value: "{{ .Values.global.tracking.sharedsecret }}"
              {{- end }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: 1
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          # sleep to drain any existing connections
          lifecycle:
            preStop:
              exec:
                command: ["/bin/bash", "-c", "sleep 10"]
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: |-
            {{ .Values.persistence.existingClaim | default (printf "%s-solr-claim" (include "alfresco-search.fullName" .)) }}
