# Default values for alfresco-search.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Define the alfresco-search properties to use in the k8s cluster
# This is the search provider used by alfresco-content-repository
nodeSelector: {}
# -- Define the type of Alfresco Search to use. The default is Alfresco Search Services.
# The type can be set to use Insight Engine with --set alfresco-search.type="insight-engine",alfresco-search.global.alfrescoRegistryPullSecrets="quay-registry-secret",alfresco-insight-zeppelin.enabled="true"
# As the Docker Image for Insight Engine is not publicly available the alfrescoRegistryPullSecrets has to be set
# More information can be found on https://github.com/Alfresco/alfresco-anaxes-shipyard/blob/master/SECRETS.md
type: "search-services"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 33007
  runAsGroup: 33007
  fsGroup: 33007
searchServicesImage:
  repository: quay.io/alfresco/search-services
  tag: 2.0.6-A4
  pullPolicy: &searchDockerImagePullPolicy IfNotPresent
  internalPort: &searchDockerImageInternalPort 8983
insightEngineImage:
  repository: quay.io/alfresco/insight-engine
  tag: 2.0.6-A4
  pullPolicy: *searchDockerImagePullPolicy
  internalPort: *searchDockerImageInternalPort
service:
  name: solr
  type: ClusterIP
  externalPort: 80
ingress:
  # -- Expose the solr admin console behind basic auth
  enabled: false
  path: /solr
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

  # -- Default solr basic auth user/password: admin / admin
  # You can create your own with htpasswd utilility & encode it with base640.
  # Example: `echo -n "$(htpasswd -nbm admin admin)" | base64 | tr -d '\n'` # i.e. admin / admin
  # basicAuth: YWRtaW46JGFwcjEkVVJqb29uS00kSEMuS1EwVkRScFpwSHB2a3JwTDd1Lg==
  basicAuth:
  # -- An existing secret that contains an `auth` key with a value in the same format of `ingress.basicAuth`
  existingSecretName:
  # -- Comma separated list of IP CIDR to limit search endpoint over the internet
  whitelist_ips: "0.0.0.0/0"
# -- The parent chart will set the values for "repository.host" and "repository.port"
repository: {}
environment:
  SOLR_CREATE_ALFRESCO_DEFAULTS: alfresco,archive
resources:
  requests:
    # -- Alfresco Search Services requests memory
    memory: "2000Mi"
  limits:
    memory: "2000Mi"
# -- Defines the mounting points for the persistence required by the apps in the cluster
# the solr data folder containing the indexes for the alfresco-search-services is mapped to alfresco-content-services/solr-data
persistence:
  enabled: true
  #chown doesn't work with dynamic provisioning so far
  #issue on github: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/300
  chownWithDynamicProvisioning: false
  # -- Only define if you have a specific claim already created
  # existingClaim: "search-master-claim"
  VolumeSizeRequest: 10Gi
  search:
    data:
      mountPath: "/opt/alfresco-search-services/data"
      subPath: "alfresco-content-services/solr-data"
  EbsPvConfiguration:
    fsType: ext4
alfresco-insight-zeppelin:
  insightzeppelin:
    enabled: false
readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 20
  timeoutSeconds: 10
livenessProbe:
  initialDelaySeconds: 130
  periodSeconds: 20
  timeoutSeconds: 10

initContainer:
  image:
    repository: busybox
    tag: 1.35.0
    pullPolicy: IfNotPresent
  resources:
    requests:
      memory: "5Mi"
    limits:
      memory: "10Mi"

# -- Apply your secret file in k8s environment to access quay.io images (Example: https://github.com/Alfresco/alfresco-anaxes-shipyard/blob/master/SECRETS.md)
# Global definition of Docker registry pull secret which can be overridden from parent ACS Helm chart(s)
global:
  # A shared secret is now required in order to authenticate connections between solr and repo (typically: tracking)
  tracking:
    # -- Select how solr and repo authenticate to each other
    # none: work only prior to acs 7.2 (and was the default)
    # secret: use a shared secret (to specify using `tracking.sharedsecret`)
    # https: to use mTLS auth (require appropriate certificate configuration)
    auth: secret
    # -- Shared secret to authenticate repo/solr traffic
    sharedsecret: null
  alfrescoRegistryPullSecrets: quay-registry-secret
# -- Define Affinity and Tolerations used for scheduling SOLR on Pod and PV level

# affinity: |
#   nodeAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       nodeSelectorTerms:
#         - matchExpressions:
#           - key: "SolrMasterOnly"
#             operator: In
#             values:
#             - "true"

# tolerations:
# - key: "SolrMasterOnly"
#   operator: "Equal"
#   value: "true"
#   effect: "NoSchedule"

# PvNodeAffinity:
#   required:
#     nodeSelectorTerms:
#     - matchExpressions:
#       - key: "SolrMasterOnly"
#         operator: In
#         values:
#         - "true"
