apiVersion: v2
name: acs-sso-example
description: |
  An example Chart to demonstrate how to compose your own Alfresco platform
  with SSO on kubernetes using a nthrid party Keycloak.
  if you're familiar with [Helm](ttps://helm.sh) &
  [Kubernetes](https://kubernetes.io) taking a look at the `values.yaml` should
  be enough but the principals are also documented in two differents steps:

  * Composing your ACS from individual component charts we provide.
    Check the [step by step documentation](./docs/step-by-step-guide.md)
  * SSO integration, to add keycloak and configure Alfresco applications
    accordingly: [SSO guide](./docs/sso-guide.md)

  > Note: this chart is just an example that can run on a localhost only.
  > It ships ACS repo, the repository database, the message broker, the
  > Keycloak IdP and front end applications (Share and Content app) & no other
  > component.

  :warning: All components have persistence disabled so all data is lost after a
  deployment is destroyed or rolled back!
type: application
version: 1.3.1
appVersion: 25.1.0
home: https://www.alfresco.com
sources:
  - https://github.com/Alfresco/acs-deployment
dependencies:
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 13.4.0
    alias: repository-database
  - name: keycloakx
    repository: https://codecentric.github.io/helm-charts
    version: 6.0.0
  - name: alfresco-repository
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 0.9.4
  - name: activemq
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 3.6.2
  - name: alfresco-share
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 1.3.1
  - name: alfresco-adf-app
    alias: alfresco-content-app
    repository: https://alfresco.github.io/alfresco-helm-charts/
    version: 0.2.2
icon: https://avatars0.githubusercontent.com/u/391127?s=200&v=4
