services:
  alfresco:
    environment:
      JAVA_OPTS: >-
        -Ddb.driver=org.postgresql.Driver
        -Ddb.username=alfresco
        -Ddb.password=alfresco
        -Ddb.url=jdbc:postgresql://postgres:5432/alfresco
        -Dindex.subsystem.name=elasticsearch
        -Delasticsearch.createIndexIfNotExists=true
        -Delasticsearch.host=elasticsearch
        -Delasticsearch.port=9200
        -Dshare.host=localhost
        -Dshare.port=8080
        -Dalfresco.host=localhost
        -Dalfresco.port=8080
        -Dcsrf.filter.enabled=false
        -Daos.baseUrlOverwrite=http://localhost:8080/alfresco/aos
        -Dmessaging.broker.url="failover:(nio://activemq:61616)?timeout=3000&jms.useCompression=true"
        -Ddeployment.method=DOCKER_COMPOSE
        -Dtransform.service.enabled=true
        -Dtransform.service.url=http://transform-router:8095
        -Dsfs.url=http://shared-file-store:8099/
        -DlocalTransform.core-aio.url=http://transform-core-aio:8090/
        -Ddsync.service.uris=http://localhost:9090/alfresco
        -XX:MinRAMPercentage=50
        -XX:MaxRAMPercentage=80
        -Dmetrics.enabled=true
        -Dmetrics.dbMetricsReporter.enabled=true
        -Dmetrics.dbMetricsReporter.query.enabled=true
        -Dmetrics.dbMetricsReporter.query.statements.enabled=true
        -Dmetrics.jvmMetricsReporter.enabled=true
        -Dmetrics.restMetricsReporter.enabled=true
        -Dmetrics.restMetricsReporter.path.enabled=true
        -Dmetrics.tomcatMetricsReporter.enabled=true
        -Dmetrics.authenticationMetricsReporter.enabled=true
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.ssl=false
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.port=50500
        -Dcom.sun.management.jmxremote.rmi.port=50500
        -Dalfresco.jmx.connector.enabled=true
        -Dalfresco.rmi.services.port=50500
        -Djava.rmi.server.hostname=127.0.0.1
        -Dcom.sun.management.jmxremote.local.only=false
    ports:
      - "50500:50500"
