---
name: Docker Compose (Community)

on:
  pull_request:
    branches:
      - master
      - release/**
      - next/**
    paths:
      - docker-compose/community-compose.yaml
      - docker-compose/commons/**
      - test/postman/docker-compose/**
      - .github/workflows/docker-compose-community.yml
  push:
    branches:
      - master
      - release/**

jobs:
  compose_community:
    name: Docker Compose community
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/dbp-charts/verify-compose@v12.5.1
        with:
          compose_file_path: docker-compose/community-compose.yaml
          postman_path: test/postman/docker-compose
          postman_json: acs-test-docker-compose-collection.json
