---
name: Docker Compose (Community)

on:
  pull_request:
    branches:
      - master
      - release/**
      - next/**
    paths:
      - docker-compose/community-compose.yaml
      - docker-compose/commons/**
      - test/postman/docker-compose/**
      - .github/workflows/docker-compose-community.yml
  push:
    branches:
      - master
      - release/**

jobs:
  compose_community:
    name: Docker Compose community
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/dbp-charts/verify-compose@v8.20.0
        with:
          compose_file_path: docker-compose/community-compose.yaml
          postman_path: test/postman/docker-compose
          postman_json: acs-test-docker-compose-collection.json
