name: Publish docs

permissions:
  contents: write
  pages: write
  id-token: write

on:
  release:
    types:
      - released
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
  pull_request:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"

jobs:
  publish:
    uses: Alfresco/jekyll-build-tools/.github/workflows/jekyll-publish.yml@v0.2.1
    with:
      working-directory: .
      publish: ${{ github.event_name != 'pull_request' }}
      validate-html: true
      validate-html-args: --ignore-status-codes 429
