---
name: Helm (Community)
on:
  pull_request:
    branches:
      - master
      - release/**
    paths:
      - helm/**
      - test/postman/helm/**
      - .github/workflows/helm*
      - test/community-integration-test-values.yaml
  push:
    branches:
      - master
      - release/**
jobs:
  community_charts:
    runs-on: [self-hosted, linux, X64]
    steps:
      - uses: actions/checkout@v3
      - uses: azure/setup-helm@v3
        with:
         version: "3.12.1"
      - name: Setup cluster
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-kind@v2.8.0
      - name: Community local deployment
        run: |
          helm dep up ./helm/alfresco-content-services
          helm install acs ./helm/alfresco-content-services \
            --set global.tracking.sharedsecret="$(openssl rand -hex 24)" \
            --set global.known_urls=http://localhost \
            --wait --timeout 15m0s --values \
            test/community-integration-test-values.yaml
      - name: Spit cluster status
        if: always()
        run: |
          helm ls --all-namespaces
          kubectl get all --all-namespaces
          kubectl describe pod
      - name: Wait ACS to warm up
        run: sleep 60
      - name: run Postman tests
        uses: matt-ball/newman-action@v1.0.4
        with:
          globalVar: >-
            [
              {
                "key":"protocol",
                "value":"http"
              },
              {
                "key":"url",
                "value":"localhost"
              }
            ]
          collection: test/postman/helm/acs-test-helm-collection.json
          insecure: true
