---
name: Helm static checks
on:
  pull_request:
    branches:
      - 'master'
    paths:
      - 'helm/**'
      - 'test/postman/helm/**'
      - '.github/workflows/helm*'
  push:
    branches:
      - 'master'
jobs:
  build_vars:
    runs-on: ubuntu-latest
    outputs:
      app_charts: ${{ steps.getcharts.outputs.app }}
      lib_charts: ${{ steps.getcharts.outputs.lib }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - id: getcharts
        uses: >-
          ./.github/actions/charts-as-json
        with:
          charts-root: helm
  helm_unit_test:
    needs:
      - build_vars
    strategy:
      matrix: ${{ fromJSON(needs.build_vars.outputs.app_charts) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use local dependencies
        uses: ./.github/actions/use-local-deps
        with:
          charts-root: helm
          chart-name: alfresco-content-services
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-build-chart@v1.35.0
        with:
          chart-dir: helm/${{ matrix.charts.name }}
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-unit-tests@v1.35.0
        with:
          chart-dir: helm/${{ matrix.charts.name }}
          chart-type: ${{ matrix.charts.type }}
  helm_yaml_lint:
    needs:
      - build_vars
    strategy:
      matrix: ${{ fromJSON(needs.build_vars.outputs.app_charts) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use local dependencies
        uses: ./.github/actions/use-local-deps
        with:
          charts-root: helm
          chart-name: alfresco-content-services
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-build-chart@v1.35.0
        with:
          chart-dir: helm/${{ matrix.charts.name }}
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-template-yamllint@v1.35.0
        with:
          chart-dir: helm/${{ matrix.charts.name }}
          helm-options: --values tests/values/test_values.yaml
