---
name: Helm release

on:
  push:
    tags:
      - v**

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - name: Ensure no dependencies are pre-release versions
        run: |
          ! grep -e "-alpha" -e "-SNAPSHOT" helm/alfresco-content-services/Chart.yaml

      - name: Publish chart
        uses: >-
          Alfresco/alfresco-build-tools/.github/actions/dbp-charts/publish-chart@v10.1.0
        with:
          chart_name: alfresco-content-services
          github_token: ${{ secrets.BOT_GITHUB_TOKEN }}
          github_username: ${{ secrets.BOT_GITHUB_USERNAME }}
          github_email: ${{ secrets.BOT_GITHUB_EMAIL }}
