---
name: Helm (Community)
on:
  pull_request:
    branches:
      - master
      - release/**
      - next/**
    paths:
      - helm/**
      - test/k6/acs-sso-example.js
      - test/postman/helm/**
      - .github/workflows/helm*
      - test/community-integration-test-values.yaml
  push:
    branches:
      - master
      - release/**
concurrency:
  group: helm-com-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
jobs:
  build_vars:
    runs-on: ubuntu-latest
    outputs:
      ver_json: ${{ steps.app_versions.outputs.json }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0
      - name: Get charts
        id: getcharts
        uses: ./.github/actions/charts-as-json
        with:
          charts-root: helm
      - name: Keep only ACS enterprise
        id: app_versions
        env:
          JSON: ${{ toJSON(fromJSON(steps.getcharts.outputs.all)) }}
          JQ_FILTER: >-
            [inputs | .charts[] | {name: .name, values: .values[]}
            | select(.values=="community_values.yaml" or .name=="acs-sso-example")]
        run: |
          echo "${JSON}" | jq -nc '${{ env.JQ_FILTER }}'
          VERS=$(echo "${JSON}" | jq -nc '${{ env.JQ_FILTER }}')
          echo "json=$VERS" >> $GITHUB_OUTPUT

  community_charts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - build_vars
    env:
      REGISTRY_SECRET_NAME: ${{ github.event.pull_request.head.repo.fork && '' || 'regcred' }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.build_vars.outputs.ver_json) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4  # v4.3.1
        with:
         version: "3.12.1"

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9  # v3.7.0
        if: >-
          ! github.event.pull_request.head.repo.fork
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup cluster
        id: setup-kind
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-kind@OPSEXP-3724-kind-lb
        with:
          ingress-traefik-version: 39.0.0
          cloud-provider-kind-version: 0.10.0
          ingress-nginx-ref: skip
          import-docker-credentials-secret-name: ${{ env.REGISTRY_SECRET_NAME }}

      - name: Build target url for tests
        id: build-target-url
        run: |
          docker ps -a
          CID="$(docker ps --filter 'name=^/kindccm-' --format '{{.ID}}' | head -n 1)"
          DOCKER_PORT_OUTPUT=$(docker port $CID 80/tcp | head -n 1)
          echo "Container ID: $CID, Docker Port: $DOCKER_PORT_OUTPUT"

          PARSED_PORT=$(echo $DOCKER_PORT_OUTPUT | awk -F: '{print $NF}')
          echo "endpoint=localhost:$PARSED_PORT" >> $GITHUB_OUTPUT
          echo "url=http://localhost:$PARSED_PORT" >> $GITHUB_OUTPUT

      - name: Add dependency chart repos
        run: |
          helm repo add self https://alfresco.github.io/alfresco-helm-charts/
          helm repo add codecentric https://codecentric.github.io/helm-charts/
          helm repo add elastic https://helm.elastic.co/

      - name: Helm install
        run: |
          helm dep build .
          helm install ${{ matrix.name }} . \
            --set global.search.sharedSecret="$(openssl rand -hex 24)" \
            --set global.known_urls=${{ steps.build-target-url.outputs.url }} \
            --set global.alfrescoRegistryPullSecrets=${{ env.REGISTRY_SECRET_NAME }} \
            --set global.imagePullSecrets[0]=${{ env.REGISTRY_SECRET_NAME }} \
            --wait --timeout 6m0s \
            --values ${{ matrix.values }} \
            --values ../../test/community-integration-test-values.yaml
        working-directory: helm/${{ matrix.name }}

      - name: Spit cluster status
        if: always()
        run: |
          helm ls --all-namespaces
          kubectl get all --all-namespaces
          kubectl describe pod

      - uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v.3.0.2
        if: matrix.name == 'alfresco-content-services'
        with:
          timeout_minutes: 1
          retry_wait_seconds: 30
          max_attempts: 5
          command: >-
            docker run --network=host
            -v $(pwd)/test/postman:/etc/postman
            -t postman/newman run /etc/postman/helm/acs-test-helm-collection.json
            --global-var protocol=http --global-var url=${{ steps.build-target-url.outputs.endpoint }}

      - name: Setup tmate session
        if: matrix.name == 'acs-sso-example'
        uses: mxschmitt/action-tmate@v3
        with:
          # provide access to SSH user that triggered the build
          limit-access-to-actor: true

      - name: Validate url is actually reachable
        if: matrix.name == 'acs-sso-example'
        run: |
            curl -sSf ${{ steps.build-target-url.outputs.url }}/share
            curl -sSf ${{ steps.build-target-url.outputs.url }}/alfresco
            curl -sSf ${{ steps.build-target-url.outputs.url }}/auth
            curl -sSf ${{ steps.build-target-url.outputs.url }}/aca

      - name: Setup k6
        if: matrix.name == 'acs-sso-example'
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0

      - name: Run SSO example chart tests
        if: matrix.name == 'acs-sso-example'
        env:
          K6_BROWSER_ARGS: no-sandbox
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/acs-sso-example.js
          flags: -e BASE_URL=${{ steps.build-target-url.outputs.url }}

      - name: Spit cluster status after tests
        if: always()
        run: |
          helm ls --all-namespaces
          kubectl get all --all-namespaces
          kubectl describe pod
