---
name: Helm static checks
on:
  pull_request:
    branches:
      - master
      - release/**
      - next/**
    paths:
      - helm/**
      - test/postman/helm/**
      - .github/workflows/helm*
  push:
    branches:
      - master
      - release/**
jobs:
  build_vars:
    runs-on: ubuntu-latest
    outputs:
      app_charts: ${{ steps.getcharts.outputs.app }}
      lib_charts: ${{ steps.getcharts.outputs.lib }}
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0
        with:
          fetch-depth: 2
      - id: getcharts
        uses: >-
          ./.github/actions/charts-as-json
        with:
          charts-root: helm

  helm_unit_test:
    needs:
      - build_vars
    strategy:
      matrix: ${{ fromJSON(needs.build_vars.outputs.app_charts) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-build-chart@v7.1.1
        with:
          chart-dir: helm/${{ matrix.charts.name }}
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-plugin@v7.1.1
        with:
          plugin_url: https://github.com/helm-unittest/helm-unittest
      - name: Run Helm unit tests if present
        run: |
          if [ -d "helm/${{ matrix.charts.name }}/tests" ]; then helm unittest helm/${{ matrix.charts.name }}
          else echo "${{ matrix.charts.name }} chart has no unit tests... skipping."
          fi

  helm_yaml_lint:
    needs:
      - build_vars
    strategy:
      matrix: ${{ fromJSON(needs.build_vars.outputs.app_charts) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-build-chart@v7.1.1
        with:
          chart-dir: helm/${{ matrix.charts.name }}
      - uses: >-
          Alfresco/alfresco-build-tools/.github/actions/helm-template-yamllint@v7.1.1
        with:
          chart-dir: helm/${{ matrix.charts.name }}
          helm-options: >-
            --set global.search.sharedSecret=dummy
            --set global.search.alfrescoRegistryPullSecrets=dummy
