name: kics

on:
  pull_request:
    branches: [master]
    paths:
      - 'docker-compose/**'
      - 'helm/**'
      - '.github/workflows/kics.yml'
  push:
    branches: [master]
    paths:
      - 'docker-compose/**'
      - 'helm/**'
      - '.github/workflows/kics.yml'

permissions:
  security-events: write

jobs:
  kics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: run kics Scan
        uses: checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          path: 'docker-compose,helm'
          ignore_on_exit: results
          output_path: report-dir/
          output_formats: 'sarif'
          token: ${{ secrets.GITHUB_TOKEN }}
          enable_jobs_summary: true
          platform_type: 'dockercompose,kubernetes'
          disable_secrets: true
          config_path: .github/kics.yml
      - name: Upload SARIF file
        if: github.actor != 'dependabot[bot]'
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          sarif_file: report-dir/results.sarif
