name: kics

on:
  pull_request:
    branches: [master]
    paths:
      - 'docker-compose/**'
      - 'helm/**'
      - '.github/workflows/kics.yml'
  push:
    branches: [master]
    paths:
      - 'docker-compose/**'
      - 'helm/**'
      - '.github/workflows/kics.yml'

permissions:
  security-events: write

jobs:
  kics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: run kics Scan
        uses: checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          path: 'docker-compose,helm'
          ignore_on_exit: results
          output_path: report-dir/
          output_formats: 'sarif'
          token: ${{ secrets.GITHUB_TOKEN }}
          enable_jobs_summary: true
          platform_type: 'dockercompose,kubernetes'
          disable_secrets: true
          config_path: .github/kics.yml
      - name: Upload SARIF file
        if: github.actor != 'dependabot[bot]'
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          sarif_file: report-dir/results.sarif
