---
name: Pre-commit (Helm Docs)

on:
  pull_request:
    branches:
      - "master"
    paths:
      - "helm/**"
      - "test/postman/helm/**"
      - ".github/workflows/helm*"
      - "**.md"
      - ".pre-commit-config.yaml"
  push:
    branches:
      - "master"

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@v1.32.0
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: helm-docs --all-files
