name: pre-commit

on:
  pull_request:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: Alfresco/alfresco-build-tools/.github/actions/setup-checkov@master
    - uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@master
    - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@master
