---
name: Pre-commit (Docker Compose)

on:
  pull_request:
    branches:
      - master
      - release/**
      - next/**
    paths:
      - docker-compose/**
      - .pre-commit-config.yaml
  push:
    branches:
      - master
      - release/**

env:
  # https://pre-commit.com/#temporarily-disabling-hooks
  SKIP: helm-docs,helm-deps-build,helmlint,checkov

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@v12.11.0
