---
name: verify
on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
      - pr-*
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@v1.14.0
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@master
        with:
          pre-commit-args: -c .pre-commit-config.d/helm.yaml
  helm:
    needs:
      - pre-commit
    if: '! github.event.pull_request.head.repo.fork'
    strategy:
      max-parallel: 1  # otherwise flaky problems with aws ELB
      fail-fast: false
      matrix:
        acs_version:
          - latest
          - 7.2.N
          - 7.1.N
          - 7.0.N
          - 6.2.N
          - community
    runs-on: ubuntu-latest
    steps:
      - name: Create valid version string
        id: version
        run: |
          echo "::set-output name=acs_version::$(echo ${{ matrix.acs_version }} | sed 's/\.//g' | tr '[:upper:]' '[:lower:]')"
      - name: Run helm chart tests
        uses: Alfresco/alfresco-build-tools/.github/actions/dbp-charts/verify-helm@master
        with:
          acs_version: ${{ matrix.acs_version }}
          aws_access_key_id: ${{ secrets.ACS_CLUSTER_AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.ACS_CLUSTER_AWS_SECRET_ACCESS_KEY }}
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          quay_username: ${{ secrets.QUAY_USERNAME }}
          quay_password: ${{ secrets.QUAY_PASSWORD }}
          acm_certificate: ${{ secrets.ACM_CERTIFICATE }}
          aws_sg: ${{ secrets.AWS_SG }}
          release_prefix: acs-${{ steps.version.outputs.acs_version }}
          chart_name: 'alfresco-content-services'
          test_newman: 'true'
  publish:
    if: contains(github.event.head_commit.message, '[publish]')
    needs:
      - helm
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        chart:
          - alfresco-common
          - alfresco-content-services
    steps:
      - name: Evalute type of release
        id: release
        run: |
          if [[ "${{ github.ref_name }}" == "${{ github.event.repository.default_branch }}" ]]; then
            echo "::set-output name=type::stable"
          else
            echo "::set-output name=type::incubator"
          fi
      - name: Publish
        uses: Alfresco/alfresco-build-tools/.github/actions/dbp-charts/publish-chart@master
        with:
          github_token: ${{ secrets.BOT_GITHUB_TOKEN }}
          github_username: ${{ secrets.BOT_GITHUB_USERNAME }}
          github_email: ${{ secrets.BOT_GITHUB_EMAIL }}
          chart_name: ${{ matrix.chart }}
          chart_repo: 'Alfresco/acs-deployment'
          release_type: ${{ steps.release.outputs.type }}
